.homePost {
  cursor: pointer;
}

.homePost .postCard {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.homePost .imgBox img {
  width: 28rem;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.homePost .explains {
  display: flex;
  width: 28rem;
  flex-direction: column;
  align-items: center;
}

.homePost .explains .title {
  font-size: larger;
  font-weight: bold;
}

.homePost .explains .date {
  color: #777;
  margin: 0.3rem 0;
}

.homePost .explains div {
  align-self: flex-start;
}

.homePost .explains div img {
  display: none;
}

.homePost .explains div p {
  display: -webkit-box;
  overflow: hidden;
  line-height: 1.7;
  max-height: 3.4em;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
}
