.paginationContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2rem;

  ul {
    display: flex;
    align-items: center;

    :global(.ant-pagination-item-active) {
      border-color: #028267 !important;

      a {
        color: #028267 !important;
      }
    }

    li {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 40px !important;
      height: 40px !important;

      a {
        width: 100% !important;
        height: 100% !important;
        display: flex !important;
        justify-content: center !important;
        align-items: center !important;
        font-size: 1.25rem;
      }

      button {
        display: flex;
        justify-content: center;
        align-items: center;

        span {
          width: 40px;
          height: 40px;
          display: flex;
          justify-content: center;
          align-items: center;

          svg {
            width: 60%;
            height: 60%;
          }
        }
      }
    }
  }
}
