/* code image slider */
.containerSlider {
  overflow: hidden;
  position: relative;
}

.startAutoSlideBtn {
  position: absolute;
  right: 10rem;
  background-color: whitesmoke;
  font-weight: bolder;
  color: darkred;
}

.stopAutoSlideBtn {
  position: absolute;
  right: 2rem;
  background-color: whitesmoke;
  font-weight: bolder;
  color: darkred;
}

.bgImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.slide {
  width: 100%;
  height: 60vh;
  position: absolute;
  opacity: 0;
  transition: opacity ease-in-out 0.4s;
}

.activeAnim {
  opacity: 100%;
}

/* code move Button */
.moveBtn {
  position: absolute;
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 50%;
  font-size: xx-large;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid transparent;
  color: darkorange;
  opacity: 0.4;
  background: transparent;
  cursor: pointer;
}

.moveLeftBtn {
  top: 30vh;
}

.moveRightBtn {
  top: 30vh;
  right: 6vh;
}

/* code move point */
.containerDots {
  position: absolute;
  left: 50%;
  top: 60vh;
  transform: translateX(-50%);
  display: flex;
}

.startAutoSlideBtn {
  top: 63vh;
  right: 8rem;
  width: fit-content;
}

.stopAutoSlideBtn {
  top: 63vh;
  right: 0;
  width: fit-content;
}

.stopAutoSlideBtn:hover {
  transform: scale(1.05);
}

.startAutoSlideBtn:hover {
  transform: scale(1.05);
}

.dot {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 3px solid #f1f1f1;
  margin: 0 5px;
  background: #f1f1f1;
  opacity: 0.4;
  cursor: pointer;
}
.dot.active {
  background: rgb(32, 32, 32);
}

@media screen and (max-width: 768px) {
  .moveLeftBtn {
    top: 15vh;
  }
  .moveRightBtn {
    right: 0;
    top: 15vh;
  }
  .startAutoSlideBtn {
    font-size: x-small;
    right: 6.3rem;
    top: 40vh;
  }
  .stopAutoSlideBtn {
    font-size: x-small;
    top: 40vh;
  }

  .containerDots {
    top: 36vh;
  }

  .slide {
    height: 42.5vh;
  }
}
