/* code image slider */
.containerSlider {
  overflow: hidden;
  position: relative;
}

.startAutoSlideBtn {
  position: absolute;
  right: 10rem;
  background-color: whitesmoke;
  font-weight: bolder;
  color: darkred;
}

.stopAutoSlideBtn {
  position: absolute;
  right: 2rem;
  background-color: whitesmoke;
  font-weight: bolder;
  color: darkred;
}

.bgImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all ease-in-out 3s;
}

.slide {
  width: 100%;
  height: 60vh;
  position: relative;
  display: none;
  transition: opacity ease-in-out 0.4s;
}

.activeAnim {
  display: block;
}

/* code move Button */
.moveBtn {
  position: absolute;
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 50%;
  font-size: xx-large;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid transparent;
  color: darkorange;
  opacity: 0.4;
  background: transparent;
  cursor: pointer;
}

.moveLeftBtn {
  top: 30vh;
}

.moveRightBtn {
  top: 30vh;
  right: 6vh;
}

/* code move point */
.containerDots {
  position: absolute;
  left: 50%;
  bottom: 40%;
  transform: translateX(-50%);
  display: flex;
}

.dot {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 3px solid #f1f1f1;
  margin: 0 5px;
  background: #f1f1f1;
  opacity: 0.4;
  cursor: pointer;
}
.dot.active {
  background: rgb(32, 32, 32);
}
