.popUpContainer {
  .loginBox {
    background: linear-gradient(rgb(153, 153, 153, 0.5), rgb(153, 153, 153, 0.5)),
      url('../../../../public/imgs/login.jpg');
    background-size: cover;
    background-position: center;
    height: calc(100vh - 2rem);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    div {
      &:nth-child(1) {
        span {
          font-size: 2.5rem;
          color: white;
          padding: 0.2rem 0.6rem;
          text-transform: uppercase;
          font-weight: 700;
        }
      }
    }

    .idBox {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-top: 1rem;

      span {
        color: white;
        padding: 0.2rem 0.6rem;
        margin-bottom: 0.4rem;
        font-size: 1.1rem;
        font-weight: 700;
        align-self: flex-start;
        height: 2rem;
      }

      input {
        height: 2rem;
        border: none;
        padding: 0.2rem;
      }
    }

    .pwdBox {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-top: 1rem;

      input {
        height: 2rem;
        border: none;
        padding: 0.2rem;
      }

      span {
        align-self: flex-start;
        color: white;
        padding: 0.2rem 0.6rem;
        margin-bottom: 0.4rem;
        font-size: 1.1rem;
        font-weight: 700;
        height: 2.5rem;
      }
    }

    .loginFormBtn {
      margin-top: 2rem;
    }

    .oauthProvider {
      margin-top: 2rem;

      .socialButton {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 14rem;
        height: 3rem;
        color: white;
        border-radius: 0.5rem;
        cursor: pointer;

        img {
          width: 2.5rem;
          height: 2.5rem;
          margin-right: 0.8rem;
          object-fit: cover;
        }

        &.google {
          background: #ffffff;
          color: #111111;

          &:hover {
            background: #3c1e1e;
            color: #ffffff;
          }

          &:active {
            transform: scale(0.95);
          }
        }

        &.github {
          background: #34363b;
          color: #ffffff;
          margin: 1.4rem 0;

          &:hover {
            background: #000000;
            color: whitesmoke;
          }

          &:active {
            transform: scale(0.95);
          }
        }

        &.kakao {
          background: #fae100;
          color: #3c1e1e;

          &:hover {
            color: #fae100;
            background: #3c1e1e;
          }

          &:active {
            transform: scale(0.95);
          }
        }
      }
    }
  }
}
