.popUpContainer {
  .signupBox {
    background: linear-gradient(rgb(153, 153, 153, 0.3), rgb(153, 153, 153, 0.3)),
      url('../../../../public/imgs/signup-image.jpg');
    background-size: cover;
    background-position: right;
    height: calc(100vh - 2rem);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    div {
      &:nth-child(1) {
        span {
          font-size: 2.5rem;
          color: white;
          padding: 0.2rem 0.6rem;
          text-transform: uppercase;
          font-weight: 700;
        }
      }
    }

    .idBox {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-top: 1rem;

      span {
        color: white;
        margin-bottom: 0.4rem;
        font-size: 1.1rem;
        font-weight: 700;
        align-self: flex-start;
        height: 2rem;
      }

      input {
        height: 2rem;
        border: none;
        padding: 0.2rem;
      }
    }

    .emailBox {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-top: 1rem;

      span {
        color: white;
        margin-bottom: 0.4rem;
        align-self: flex-start;
        font-size: 1.1rem;
        font-weight: 700;
        height: 2rem;
      }

      input {
        height: 2rem;
        border: none;
        padding: 0.2rem;
      }
    }

    .pwdBox {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-top: 1rem;

      input {
        height: 2rem;
        border: none;
        padding: 0.2rem;
      }

      span {
        align-self: flex-start;
        color: white;
        margin-bottom: 0.4rem;
        font-size: 1.1rem;
        font-weight: 700;
        height: 2rem;
      }
    }

    button {
      margin-top: 1rem;
      font-size: 0.8rem !important;
      padding: 0.2rem 0.8rem !important;
      text-transform: capitalize;
      cursor: pointer;

      &:active {
        transform: scale(0.9);
      }
    }
  }

  footer {
    button {
      width: 100%;
    }
  }
}
