.totalSearchBox {
  display: flex;
  align-items: center;
  padding: 1rem;
  gap: 1rem;

  .totalBtn {
    cursor: pointer;

    &:active {
      transform: scale(0.8);
    }
  }

  .searchInput {
    padding: 0.2rem 0.4rem;
    font-size: 1.2rem;
    border: 1px solid black;
    border-radius: 4px;
    max-height: 30px;
  }
}

.homeSec {
  min-height: 80vh;

  .container {
    display: flex;
    padding: 0 1rem;

    .circularProgress {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(30vw, 1fr));

      div {
        display: flex;
        justify-content: center;
        align-items: center;
      }

      svg {
        transform: scale(3);
      }
    }

    .sidebar {
      flex: 1;
      display: flex;
      flex-direction: column;
      text-align: center;

      header {
        &:nth-child(1) {
          font-size: x-large;
          font-weight: bold;
          text-align: center;
          position: relative;
          border: 1px solid black;
          border-left: none;
          border-right: none;
          padding: 0.3rem;
        }
      }

      .imgBox {
        position: relative;
        width: 100%;
        height: 35vh;
        margin: 1rem 0 0 0;
        border-radius: 0.6rem;

        img {
          border-radius: 0.6rem;
        }
      }

      p {
        font-size: large;
        text-align: center;
        position: relative;
        line-height: 1.8rem;
      }

      .catHead {
        display: flex;
        flex-direction: column;
        font-size: x-large;
        font-weight: bold;
        text-align: center;
        position: relative;
        border: 1px solid black;
        border-left: none;
        border-right: none;
        padding: 0.3rem;
        margin: 1.4rem 0;
        gap: 0.4rem;
        padding: 0.4rem 0;
      }

      .categoriesBox {
        display: grid;
        grid-template-columns: repeat(2, minmax(0, 1fr));
        gap: 0.4rem;

        button {
          font-size: large;
          cursor: pointer;
          font-size: 1.05rem;

          &:hover {
            font-weight: bold;
          }

          &:active {
            transform: scale(0.8);
            user-select: none;
          }
        }
      }

      footer {
        font-size: x-large;
        font-weight: bold;
        text-align: center;
        position: relative;
        border: 1px solid black;
        border-left: none;
        border-right: none;
        padding: 0.3rem;
        margin: 1.4rem 0 0.7rem 0;
      }

      .logoBox {
        width: 100%;

        svg {
          margin: 0 0.8rem;
          transform: scale(1.6);
          cursor: pointer;
          user-select: none;

          &:active {
            transform: scale(1.4);
            user-select: none;
          }
        }
      }
    }
  }
}

@media screen and (min-width: 1201px) {
  /* 1201px and more - Extra large screens, TV */
}

@media screen and (max-width: 1200px) {
  /* 1025px - 1200px - Desktops, large screens */
}

@media screen and (max-width: 1024px) {
  /* 769px - 1024px - laptops, small screens */
  .homeSec {
    :global(.ant-pagination) {
      transform: scale(0.85) !important;
    }
  }

  .sidebar {
    display: none !important;
  }

  .totalSearchBox {
    display: flex;
    justify-content: center;
    flex-direction: column;

    button {
      width: 100%;
      margin-bottom: 0.6rem;
    }

    .searchInput {
      width: 100%;
      margin: 0;
    }
  }

  .circularProgress {
    display: flex !important;
    flex-direction: column !important;
    justify-content: center;
    align-items: center;

    div {
      height: 80vh;
      svg {
        transform: none;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  /* 481px - 768px - ipads, tablets */
}

@media screen and (max-width: 480px) {
  /* 320px - 480px - mobile devices */
  .container {
    display: block;
  }

  .totalSearchBox {
    display: flex;
    justify-content: center;
  }

  .searchInput {
    margin: 0.3rem 1rem;
  }
}

@media screen and (max-width: 390px) {
  /* 319px below - folder screens */
}
