.home {
  position: relative;
}

.home .homeBgImg {
  position: relative;
  user-select: none;
}

.home .homeBgImg::after {
  content: "";
  width: 100%;
  height: 99%;
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(#999, #999);
  opacity: 0.4;
}

.home .homeBgImg img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.home .title {
  display: flex;
  position: absolute;
  width: 100%;
  margin-top: 1rem;
  top: 2.5rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  user-select: none;
}

.home .title span {
  color: #000;
  mix-blend-mode: overlay;
}

.home .title span:nth-child(1) {
  margin-top: 1rem;
  font-size: 2.5rem;
  font-weight: bolder;
  font-style: italic;
}

.home .title span:nth-child(2) {
  font-size: 9rem;
  font-weight: bolder;
}

.home .homeContentsPart {
  display: flex;
  flex-wrap: wrap;
  margin-top: 2rem;
  margin-left: 2.5rem;
}

.home .homeContentsPart .postsPart {
  flex: 1 1 70%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  gap: 2.5rem;
}

.home .homeContentsPart .aboutMePart {
  flex: 1 1 30%;
}

.home .homeContentsPart .aboutMePart .aboutMeImgBox {
  width: 100%;
}

.home .homeContentsPart .aboutMePart .aboutMeImgBox img {
  width: 23rem;
  object-fit: cover;
}

.home .homeContentsPart .aboutMePart .aboutMeHeader {
  font-size: x-large;
  font-weight: bolder;
  border-left: none;
  border-right: none;
  border-top: 1px solid #666;
  border-bottom: 1px solid #666;
  width: 23rem;
  text-align: center;
  margin-bottom: 1rem;
  padding: 0.2rem;
}

.home .homeContentsPart .aboutMePart p {
  width: 23rem;
  text-align: center;
  margin: 1rem 0;
}

.home .homeContentsPart .aboutMePart .catHeader {
  width: 23rem;
  text-align: center;
  margin-bottom: 1rem;
  font-weight: bolder;
  border-left: none;
  border-right: none;
  border-top: 1px solid #666;
  border-bottom: 1px solid #666;
  padding: 0.4rem;
}

.home .homeContentsPart .aboutMePart .catBox {
  width: 23rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
  gap: 0.6rem;
  text-align: center;
}

.home .homeContentsPart .aboutMePart .catSNSBox {
  width: 23rem;
  text-align: center;
  margin: 1rem 0;
  font-weight: bolder;
  border-left: none;
  border-right: none;
  border-top: 1px solid #666;
  border-bottom: 1px solid #666;
  padding: 0.4rem;
}

.home .homeContentsPart .aboutMePart .snsMarks {
  display: flex;
  width: 23rem;
  justify-content: center;
}

.home .homeContentsPart .aboutMePart .snsMarks i {
  margin: 0 0.5rem;
  font-size: 1.6rem;
}
