.postPage {
  width: 80%;
  margin: auto;
}

.postPage .postBox {
  margin: 2rem 2rem 0 2rem;
}

.postPage .postBox * {
  overflow-x: scroll;
}

.postPage .postBox *::-webkit-scrollbar {
  display: none;
}

.postPage .postBox pre::-webkit-scrollbar {
  display: flex;
  width: 0.4rem;
  height: 0.4rem;
}

.postPage .postBox pre::-webkit-scrollbar-thumb {
  background-color: white;
}

.postPage .postBox pre::-webkit-scrollbar-track {
  background-color: black;
}

.postPage .postBox .postImgTextBox .postTextBox {
  width: 100%;
  margin: 1.5rem auto auto auto;
}

.postPage .postBox .postImgTextBox .postTitleImgBox {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  height: 20rem;
}

.postPage .postBox .postImgTextBox .postTextBox .postHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1rem;
}

.postPage .postBox .postImgTextBox .postTextBox .postHeader p {
  font-size: 1rem;
  font-weight: bold;
}

.postPage .postBox .postImgTextBox .postTextBox .postHeader p span {
  font-size: 1.2rem;
  font-weight: bolder;
  color: #ff3e68;
  text-transform: capitalize;
}

.postPage .postBox .postImgTextBox .postTextBox .postHeader .title {
  font-size: 2rem;
  font-weight: bold;
}

.postPage .postBox .postImgTextBox .postTextBox .postHeader div svg {
  font-size: 1.6rem;
  margin: 0 0.5rem;
  cursor: pointer;
}

.postPage .postBox .postImgTextBox .postTextBox .postHeader span:first-child svg {
  color: teal;
}

.postPage .postBox .postImgTextBox .postTextBox .postHeader span:last-child svg {
  color: lightcoral;
}

.postPage .postBox .postImgTextBox .postTextBox .authorAndDate {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2rem;
  font-size: 1.1rem;
  color: darkgrey;
}

.postPage .postBox .postImgTextBox .postTextBox .authorAndDate p span {
  font-weight: bolder;
  text-transform: uppercase;
  color: #000;
  font-size: 1.2rem;
}

.postPage .postBox .postImgTextBox .postTextBox .postContentText {
  font-size: 1.1rem;
  margin-bottom: 2rem;
  padding: 0 !important;
}

.postPage .postBox .postImgTextBox .postTextBox .postContentText img {
  width: auto !important;
}

.postPage .postBox .postImgTextBox .postTextBox .postContentText pre {
  background: black;
  color: white;
  padding: 1rem;
  font: message-box;
}

.postPage .postBox .postImgTextBox .postTextBox .postContentText a img {
  width: 500px;
}

.circularBox {
  height: calc(100vh - 3rem);
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 1600px) {
  .postPage .postBox .postImgTextBox .postTextBox .postHeader .title {
    font-size: 1.55rem;
    font-weight: bold;
  }
}

@media screen and (max-width: 1400px) {
  .postPage .postBox {
    margin: 0.7rem 1.4rem 0 1.4rem;
  }

  .postPage .postBox .postImgTextBox {
    margin: auto;
  }
  .postPage .postBox .postImgTextBox .postTitleImgBox {
    width: 100%;
  }

  .postPage .postBox .postImgTextBox .postTextBox {
    width: 100%;
    margin: 1.5rem auto auto auto;
  }

  .postPage .postBox .postImgTextBox .postTextBox .postHeader {
    margin-top: 0.5rem;
  }

  .postPage .postBox .postImgTextBox .postTextBox .postHeader p {
    display: none;
  }

  .postPage .postBox .postImgTextBox .postTextBox .postHeader div span svg {
    font-size: 1.1rem;
    margin: 0.05rem !important;
  }

  .postPage .postBox .postImgTextBox .postTextBox .postHeader .title {
    font-size: 1.1rem;
  }

  .postPage .postBox .postImgTextBox .postTextBox .authorAndDate {
    margin-top: 0.5rem;
  }

  .postPage .postBox .postImgTextBox .postTextBox .authorAndDate p {
    font-size: 0.8rem;
  }

  .postPage .postBox .postImgTextBox .postTextBox .authorAndDate p span {
    font-size: 0.8rem;
  }

  .postPage .postBox .postImgTextBox .postTextBox .authorAndDate span {
    font-size: 0.8rem;
  }

  .postPage .postBox .postImgTextBox .postTextBox .postContentText img {
    width: 100% !important;
  }

  .postPage .postBox .postImgTextBox .postTextBox .postContentText a img {
    width: 100%;
  }
}

@media screen and (max-width: 1024px) {
  .postPage {
    width: 95%;
    margin: auto;
  }
}

@media screen and (max-width: 768px) {
}

@media screen and (max-width: 450px) {
}
