.novelUsaEuDataUlBox {
  display: flex;
  flex-direction: column;
}

.novelUsaEuDataList {
  display: flex;
  flex-direction: column;
  background-color: linen;
  padding: 0.5rem 0;
}

.novelUsaEuDataLink {
  display: flex;
  flex-direction: row;
  background-color: linen;
}

.novelUsaEuDataLink h4 {
  height: 2rem;
  margin: 0;
}

.searchDatasList {
  position: relative;
}
