@value makerWhite, makerDarkWhite, makerBlack, makerGreen, makerWheat,  makerLightGrey, makerLightPink, makerblue from '../../common/colors.css';

.navbarBox {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.navbarLeftBox {
  display: flex;
  flex-direction: row;
}

.leftSmallBox {
  border: 1px solid makerBlack;
  width: 10em;
  height: 2em;
  text-align: center;
  line-height: 2em;
  border-radius: 1rem;
  margin: 0 0.2em;
}

.date {
  background-color: makerWheat;
}

.time {
  background-color: makerLightGrey;
}

.weatherArea {
  background-color: makerLightPink;
}

.exchangeRate {
  background-color: makerblue;
}

.navbarRightBox {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.searchForm {
  margin: 0 1em;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.loginForm {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.navbarInput {
  height: 1.5em;
  font-size: 1rem;
}

.navbarBtn {
  font-size: 0.8rem;
  height: 1.5em;
  border-radius: 10%;
  border: 1px solid makerDarkWhite;
  background-color: makerWheat;
  color: makerWhite;
  font-weight: bolder;
}

.loginFormOff {
  display: none;
}

.logoutBtn {
  display: none;
}

.welcomeSentBox {
  display: none;
  height: 2rem;
  padding: 0 0.5rem;
  border-radius: 2rem;
  background-color: darkred;
  color: whitesmoke;
  font-weight: normal;
  align-items: center;
  margin-left: 1rem;
}
