.navbarBox {
  display: flex;
  height: 3rem;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.navbarLeftBox {
  display: flex;
  flex-direction: row;
}

.leftSmallBox {
  border: 1px solid black;
  width: 10rem;
  height: 2rem;
  text-align: center;
  line-height: 2rem;
  border-radius: 1rem;
  margin: 0 0.2rem;
  font-size: smaller;
  font-weight: 600;
}

.date {
  background-color: linen;
}

.time {
  background-color: ivory;
}

.weatherArea {
  background-color: lightskyblue;
  font-size: 0.7rem;
  align-items: center;
  justify-content: center;
  color: whitesmoke;
  display: flex;
  flex-direction: row;
}

.weatherLogo {
  width: 2rem;
  height: 2rem;
}

.exchangeRate {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: lightcyan;
  font-size: smaller;
}

.flagImg {
  width: 1.6rem;
  height: 1.6rem;
  border: 0.5px solid lightskyblue;
  margin-right: 0.2rem;
  border-radius: 50%;
}

.navbarRightBox {
  display: flex;
  flex-direction: row;
  width: 50%;
  justify-content: flex-end;
  align-items: center;
  position: relative;
}

.searchForm {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.loginForm {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.navbarInput {
  height: 1.8em;
  font-size: 1rem;
  width: 80%;
}

.navbarBtn {
  font-size: 0.8rem;
  width: 7vw;
  margin: 0 0.4rem;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 1.6rem;
  border-radius: 10%;
  border: 1px solid whitesmoke;
  background-color: lightsalmon;
  color: white;
  font-weight: bolder;
}

.loginFormOff {
  display: none;
}

.logoutBtn {
  display: none;
}

.welcomeSentBox {
  display: none;
  height: 2rem;
  padding: 0 0.5rem;
  border-radius: 2rem;
  background-color: lightyellow;
  color: black;
  font-weight: bolder;
  align-items: center;
  margin-left: 1rem;
}

/* signUp mobile authentication form */
.mobileAuthBox {
  display: none;
  position: absolute;
  top: 2rem;
  right: 0;
  z-index: 999;
  background-color: bisque;
  padding: 0.5rem;
  text-align: center;
}

.mobileAuthH3 {
  margin: 0;
}

.mobileAuthForm {
  display: flex;
  flex-direction: column;
}

/* signUp form */
.signUpBox {
  display: none;
  position: absolute;
  top: 2rem;
  right: 0;
  z-index: 999;
  background-color: linen;
  padding: 0.5rem;
  text-align: center;
}

.mobileScreenNavBarBtn {
  display: none;
  background-color: transparent;
  color: darkorange;
  font-size: x-large;
}

.mobileScreenNavBarInfoBtn {
  display: none;
  background-color: transparent;
  color: darkorange;
  font-size: x-large;
}

.mobileScreenNavBarLoginBtn {
  display: none;
  background-color: transparent;
  color: darkorange;
  font-size: x-large;
}

@media screen and (max-width: 768px) {
  .navbarBox {
    height: 0;
  }

  .navbarLeftBox {
    display: none;
    position: absolute;
    z-index: 999;
    top: 6vh;
    left: 32vw;
    flex-direction: column;
  }

  .navbarRightBox {
    display: none;
    flex-direction: column;
    position: absolute;
    width: fit-content;
    z-index: 999;
    top: 8.5vh;
    right: 0;
  }

  .searchForm {
    flex-direction: column;
  }

  .loginForm {
    flex-direction: column;
  }

  .navbarBtn {
    width: 10rem;
  }

  .open {
    display: flex;
  }

  .mobileScreenNavBarBtn {
    display: block;
    position: absolute;
    top: 2vh;
    left: 2vw;
    z-index: 999;
    width: fit-content;
  }

  .mobileScreenNavBarInfoBtn {
    display: block;
    position: absolute;
    top: 2vh;
    right: 45%;
    z-index: 999;
    width: fit-content;
  }

  .mobileScreenNavBarLoginBtn {
    display: block;
    position: absolute;
    top: 2vh;
    right: 2vw;
    z-index: 999;
    width: fit-content;
  }

  .mobileAuthBox {
    position: absolute;
    top: 0;
    right: 1vw;
  }
}
