@value makerWhite, makerDarkWhite, makerBlack, makerGreen, makerWheat,  makerLightGrey, makerLightPink, makerblue from '../../common/colors.css';

.navbarBox {
  display: flex;
  height: 3rem;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.navbarLeftBox {
  display: flex;
  flex-direction: row;
}

.leftSmallBox {
  border: 1px solid makerBlack;
  width: 10em;
  height: 2em;
  text-align: center;
  line-height: 2em;
  border-radius: 1rem;
  margin: 0 0.2em;
}

.date {
  background-color: makerWheat;
}

.time {
  background-color: makerLightGrey;
}

.weatherArea {
  background-color: makerLightPink;
}

.exchangeRate {
  background-color: makerblue;
}

.navbarRightBox {
  display: flex;
  flex-direction: row;
  width: 50%;
  justify-content: flex-end;
  align-items: center;
  position: relative;
}

.searchForm {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.loginForm {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.navbarInput {
  height: 1.8em;
  font-size: 1rem;
  width: 80%;
}

.navbarBtn {
  font-size: 0.8rem;
  width: 25%;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 1.8rem;
  border-radius: 10%;
  border: 1px solid makerDarkWhite;
  background-color: makerWheat;
  color: makerWhite;
  font-weight: normal;
}

.loginFormOff {
  display: none;
}

.logoutBtn {
  display: none;
}

.welcomeSentBox {
  display: none;
  height: 2rem;
  padding: 0 0.5rem;
  border-radius: 2rem;
  background-color: lightyellow;
  color: black;
  font-weight: bolder;
  align-items: center;
  margin-left: 1rem;
}

/* signUp mobile authentication form */
.mobileAuthBox {
  display: none;
  position: absolute;
  top: 2rem;
  right: 0;
  z-index: 999;
  background-color: bisque;
  padding: 0.5rem;
  text-align: center;
}

.mobileAuthH3 {
  margin: 0;
}

.mobileAuthForm {
  display: flex;
  flex-direction: column;
}

/* signUp form */
.signUpBox {
  display: none;
  position: absolute;
  top: 2rem;
  right: 0;
  z-index: 999;
  background-color: bisque;
  padding: 0.5rem;
  text-align: center;
}
