.novelUsaEuDataUlBox {
  position: relative;
  background-color: linen;
  padding: 0.5rem 0;
  order: 2;
}

.novelUsaEuDataList {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  background-color: blanchedalmond;
  font-size: 1.2rem;
  align-items: center;
  height: 2rem;
  border-radius: 0.2rem;
  margin: 0.2rem;
}

.switchBox {
  order: 1;
}

/* newWriting part */
.newWritingLi {
  display: none;
}

.writeForm {
  display: flex;
  flex-direction: column;
}

.writeFormSubTitleInput {
  height: 2rem;
}

.writeFormContentsTextarea {
  height: 5rem;
  min-height: 5rem;
  max-width: 85vw;
  min-width: 85vw;
}

/* .imgVideoBox {
  display: flex;
  flex-direction: row;
  justify-content: center;
} */

/* img, video upload input btn CSS */
.imgVideoUploadBox {
  display: flex;
  flex-direction: row;
  flex: 1 1 50%;
}

.imgUploadBox {
  width: 100%;
}

.imgUploadBoxInput {
  display: none;
  padding: 0;
  margin: 0;
  height: 2rem;
}

.imgUploadBoxBtn {
  padding: 0;
  margin: 0;
  height: 2rem;
  width: 100%;
}

.videoUploadBox {
  width: 100%;
}

.imgUploadBoxInput {
  display: none;
  padding: 0;
  margin: 0;
  height: 2rem;
}

.videoUploadBoxBtn {
  padding: 0;
  margin: 0;
  height: 2rem;
  width: 100%;
}

/* fix update part */
.dataBoxForFix {
  display: none;
  width: 100%;
}

.imgVideoInputBtnBox {
  display: flex;
  flex-direction: row;
}

.imgVideoInputBtnBox div {
  flex: 1 1 50%;
  width: 50%;
}

.imgVideoInputBtnBox input {
  display: none;
  width: 100%;
}

.imgVideoInputBtnBox button {
  width: 100%;
}

@media screen and (max-width: 768px) {
  .writeFormContentsTextarea {
    height: 5rem;
    min-height: 5rem;
    max-width: 95vw;
    min-width: 95vw;
  }

  .novelUsaEuDataList {
    font-size: 0.8rem;
  }
}
