.customScroll {
  width: 100%;
  text-align: center;
  overflow-x: hidden;
  overflow-y: auto;
  padding: 0 10px;

  scrollbar-width: thin;
  scrollbar-color: #fff #000;

  &.dark {
    scrollbar-color: #000 #fff;

    &::-webkit-scrollbar-track {
      background: #000;
    }

    &::-webkit-scrollbar-thumb {
      background: #fff;
    }
  }

  &::-webkit-scrollbar {
    min-width: 0.4rem;
    max-width: 0.4rem;
  }

  &::-webkit-scrollbar-track {
    background: #fff;
    border-radius: 10px;
  }

  &::-webkit-scrollbar-thumb {
    background: #000;
    border-radius: 10px;
  }
}
