.container {
  transform: scale(0.9);
  box-shadow: 0px 0px 1.4rem #703f2b;
  border-radius: 1rem;
  background-position: center;
  background-size: cover;
  position: relative;

  .book {
    color: white;
    width: 100%;
    height: 100%;

    :global {
      .stf__block {
        transform: scale(0.85);
      }
    }

    .page {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      background: linear-gradient(hsla(0, 0%, 15%, 0.6), hsla(0, 0%, 19%, 0.8)), url('/imgs/aboutMeBg.jpg');
      background-position: right;
      background-size: cover;
      background-repeat: no-repeat;
      border: none;
      box-shadow: inset 7px 0 30px -7px rgba(0, 0, 0, 0.4);
      border-radius: 0.5rem;
      padding: 2rem;
      cursor: pointer;

      &:nth-child(2n + 1) {
        border: 0.6rem ridge rgba(255, 255, 255, 1);
        border-left: 0.8rem dashed rgb(255, 255, 255, 1);
      }

      &:nth-child(2n) {
        border: 0.6rem ridge rgba(255, 255, 255, 1);
        border-right: 0.8rem dashed rgb(255, 255, 255, 1);
      }

      &:nth-child(2n + 1):after {
        position: absolute;
        top: 0;
        left: 0;
        content: '';
        width: 3%;
        height: 100%;
        box-shadow: inset 7px 0 100px -7px rgba(0, 0, 0, 1), inset 7px 0 30px -7px rgba(255, 255, 255, 1);
        filter: blur(10px);
      }

      &:nth-child(2n):after {
        position: absolute;
        top: 0;
        right: 0;
        content: '';
        width: 3%;
        height: 100%;
        box-shadow: inset 7px 0 100px -7px rgba(0, 0, 0, 1), inset 7px 0 30px -7px rgba(255, 255, 255, 1);
        filter: blur(10px);
      }

      h1 {
        height: 10%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 3.5rem;
        font-weight: bolder;
      }

      main {
        height: 85%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 2rem;

        .imgBox {
          position: relative;
          width: 100%;
          height: 50%;

          img {
            border-radius: 1rem;
          }
        }

        .details {
          display: flex;
          justify-content: center;
          align-items: center;
          text-align: center;
          font-size: 1.5rem;
        }
      }

      footer {
        height: 5%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1.2rem;
        font-weight: bolder;
      }
    }
  }
}
