.navbar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 999;
  height: 5vh;

  .logoLink {
    display: flex;
    align-items: center;

    .logo {
      position: relative;
      width: 55px;
      height: 55px;
      border: 1px solid white;
      border-radius: 50%;

      img {
        border-radius: 50%;
      }
    }

    h1 {
      font-size: xx-large;
      font-weight: 600;
      margin: 0 2rem;
    }
  }

  main {
    display: flex;
    align-items: center;

    .theme {
      width: fit-content;
      height: 24px;
      border: 1.5px solid black;
      border-radius: 30px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 2px;
      cursor: pointer;
      position: relative;
      margin: 0 1rem;

      .ball {
        width: 16px;
        height: 16px;
        border-radius: 50%;
        background-color: black;
        position: absolute;
      }
    }

    .menuLink {
      margin: 0 0.8rem;
      font-size: 1rem;
      font-weight: lighter;

      &:hover {
        font-weight: bolder;
      }

      &:active {
        transform: scale(0.95);
      }
    }
  }
}
