.header {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-size: 1.4rem;
  position: sticky;
  top: 0;
  background: #fff;
  padding: 0.6rem 0;
  z-index: 999;
}

.paddingSmaller {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-size: 1.4rem;
  position: sticky;
  top: 0;
  background: #fff;
  padding: 0.4rem 0;
  z-index: 999;
}

.header i {
  cursor: pointer;
}

.header .socialSNSs i {
  margin: 0 0.4rem;
}

.header .pageLinks a {
  margin: 0 0.8rem;
}

.header .settingsBox a,
.header .settingsBox i {
  margin: 0 0.8rem;
}

.header a:hover,
.header i:hover {
  color: #999;
}

.header .logoutBox {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header .logoutBox span {
  margin-right: 1rem;
  cursor: pointer;
}
.header .logoutBox .profileImgBox {
  margin-right: 1rem;
  cursor: pointer;
}

.header .logoutBox .profileImgBox img {
  width: 2.6rem;
  height: 2.6rem;
  object-fit: cover;
  border-radius: 50%;
  object-position: top;
  position: absolute;
  top: 0.2rem;
}

.header .logoutBox i {
  margin-left: 2.4rem;
  margin-top: 0.3rem;
}
