.appBody {
  position: relative;
}

.listBodyBox {
  display: flex;
  flex-direction: row;
  width: 100%;
  position: absolute;
  top: 66vh;
}

.listBox {
  flex: 1 1 10%;
  background-color: lightyellow;
}

.bodyBox {
  flex: 1 1 90%;
  max-width: 100%;
  background-color: whitesmoke;
  padding: 0.5rem;
}

/* Navbar Code */
.blogNavBar {
  display: flex;
  flex-direction: column;
  padding-left: 0.5rem;
}

/* Button Code */
.blogBtn {
  width: 6rem;
  background-color: wheat;
  border: 0.5px solid rgba(red, green, blue, 0.7);
  margin: 0.4rem 0;
}

/* list Code */
.booksBox {
  display: none;
  flex-direction: column;
  padding-left: 1rem;
}

.codingsBox {
  display: none;
  flex-direction: column;
  padding-left: 1rem;
}

.tripsBox {
  display: none;
  flex-direction: column;
  padding-left: 1rem;
}

.langsBox {
  display: none;
  flex-direction: column;
  padding-left: 1rem;
}

.listShow {
  display: flex;
}

.linkBtn {
  font-size: 0.8rem;
  text-decoration-line: none;
  color: black;
  background-color: wheat;
  width: 7rem;
  padding: 0.2rem;
  margin: 0.4rem 0;
  border: 1px solid black;
}

@media screen and (max-width: 768px) {
  .listBodyBox {
    top: 42.5vh;
  }

  .listBox {
    display: none;
    position: absolute;
    top: -42.5vh;
    padding: 3rem 1rem 1rem 0;
    background-color: whitesmoke;
  }

  .open {
    display: flex;
  }
}
