body {
  margin: 0.5rem 2rem 3rem 2rem;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

* {
  box-sizing: border-box;
  list-style: none;
}

ul {
  padding: 0;
  margin: 0;
}

.dbImgAndDbVideoBox {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.dbImgAndDbVideoBoxImg {
  width: 42vw;
  height: 20%;
}

.dbImgAndDbVideoBoxVideo {
  width: 42vw;
  height: 20%;
}

@media screen and (max-width: 768px) {
  body {
    margin: 0;
  }

  .dbImgAndDbVideoBox {
    display: flex;
    flex-direction: column;
  }

  .dbImgAndDbVideoBoxImg {
    width: 95vw;
    height: 30%;
    margin-bottom: 0.5rem;
  }

  .dbImgAndDbVideoBoxVideo {
    width: 95vw;
    height: 30%;
  }

  form {
    width: 93vw;
    display: flex;
    flex-direction: column;
  }

  img {
    width: 100%;
  }

  .toastui-editor-toolbar {
    position: relative;
    width: 92.5vw;
    display: flex;
    flex-direction: column;
    padding: none;
  }

  .toastui-editor-defaultUI-toolbar {
    z-index: 999;
    flex-wrap: nowrap;
    justify-content: flex-start;
  }
}
