.about {
  background: linear-gradient(rgb(153, 153, 153, 0.5), rgb(153, 153, 153, 0.5)),
    url('../public/imgs/gallery-10.jpg');
  background-size: cover;
  background-position: center;
  height: calc(100vh - 3rem);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.about .aboutIntroBox {
  display: flex;
  flex-direction: row;
  width: 60%;
  border: 1px solid gainsboro;
  color: #fff;
  backdrop-filter: blur(10px);
  position: relative;
}

.about .pageTitle {
  position: absolute;
  top: 3rem;
  font-size: 8rem;
  margin-bottom: 2rem;
  font-weight: bolder;
  color: rgba(175, 187, 255, 0.9);
}

.about .aboutIntroBox .imgBox {
  flex: 4;
}

.about .aboutIntroBox .aboutExplainBox {
  flex: 5;
  padding: 0.8rem;
}

.about .aboutIntroBox .aboutExplainBox header {
  font-size: 2.4rem;
  font-weight: bolder;
}

.about .aboutIntroBox .aboutExplainBox p {
  font-size: 1.2rem;
  margin-top: 2rem;
}

.about .aboutIntroBox .aboutExplainBox button {
  padding: 0.7rem;
  border-radius: 10px;
  font-size: 1.4rem;
  background: #fff;
  font-weight: bold;
  border: none;
  box-shadow: 8px 8px 0.4rem #3f3f3f;
  position: absolute;
  bottom: -1rem;
  right: -1rem;
  cursor: pointer;
}

.about .aboutIntroBox .aboutExplainBox button:hover {
  background: #000;
  color: #fff;
  box-shadow: 8px 8px 0.4rem #fff;
}
