.container {
  display: flex;
  padding: 0 1rem;
}

.wrapper {
  display: flex;
  justify-content: space-between;
}

.btnInputBox {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 1rem;
  padding-left: 1rem;
}

.totalBtn {
  font-size: large;
  padding: 0.4rem 0.6rem;
  border-radius: 0.4rem;
  color: white;
  background: rgb(106, 106, 255);
  border: 1px solid white;
  margin: 0.6rem 1rem;
  cursor: pointer;
}

.searchInput {
  padding: 0.2rem 0.4rem;
  font-size: 1.2rem;
}

.totalBtn:hover {
  background: blue;
}

.totalBtn:active {
  transform: scale(0.8);
}

.sidebar {
  flex: 1;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.sidebar header:nth-child(1) {
  font-size: x-large;
  font-weight: bold;
  text-align: center;
  position: relative;
  border: 1px solid black;
  border-left: none;
  border-right: none;
  padding: 0.3rem;
}

.sidebar .imgBox img {
  margin: 1rem 0;
}

.sidebar p {
  font-size: large;
  text-align: center;
  position: relative;
  line-height: 1.8rem;
}

.sidebar .catHead {
  font-size: x-large;
  font-weight: bold;
  text-align: center;
  position: relative;
  border: 1px solid black;
  border-left: none;
  border-right: none;
  padding: 0.3rem;
  margin: 1.4rem 0;
}

.sidebar .categoriesBox {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 0.4rem;
}

.sidebar .categoriesBox span {
  font-size: large;
  cursor: pointer;
}

.sidebar .categoriesBox span:hover {
  font-weight: bold;
}

.sidebar .categoriesBox span:active {
  transform: scale(0.8);
  user-select: none;
}

.sidebar footer {
  font-size: x-large;
  font-weight: bold;
  text-align: center;
  position: relative;
  border: 1px solid black;
  border-left: none;
  border-right: none;
  padding: 0.3rem;
  margin: 1.4rem 0 0.7rem 0;
}

.logoBox {
  width: 100%;
}

.logoBox svg {
  margin: 0.4rem;
  transform: scale(1.2);
  cursor: pointer;
  user-select: none;
}

.logoBox svg:active {
  transform: scale(1.1);
  user-select: none;
}

.circularProgress {
  display: flex;
  justify-content: center;
  align-items: center;
}

.circularProgress svg {
  transform: scale(5);
}

@media screen and (min-width: 1201px) {
  /* 1201px and more - Extra large screens, TV */
}

@media screen and (max-width: 1200px) {
  /* 1025px - 1200px - Desktops, large screens */
}

@media screen and (max-width: 1024px) {
  /* 769px - 1024px - laptops, small screens */
  .sidebar {
    display: none;
  }

  .circularProgress {
    margin-top: 20%;
  }
}

@media screen and (max-width: 768px) {
  /* 481px - 768px - ipads, tablets */
}

@media screen and (max-width: 480px) {
  /* 320px - 480px - mobile devices */
  .container {
    display: block;
  }

  .totalSearchBox {
    display: flex;
    flex-direction: column;
  }

  .searchInput {
    margin: 0.3rem 1rem;
  }
}

@media screen and (max-width: 319px) {
  /* 319px below - folder screens */
}
