.loginBox {
  background: linear-gradient(rgb(153, 153, 153, 0.5), rgb(153, 153, 153, 0.5)),
    url('../public/imgs/login.jpg');
  background-size: cover;
  background-position: center;
  height: calc(100vh - 2rem);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.loginBox div:nth-child(1) span {
  font-size: 2.5rem;
  color: lightgray;
  text-transform: uppercase;
  font-weight: 700;
}

.loginBox .idBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
}

.loginBox .idBox span {
  color: lightgray;
  font-size: 1.1rem;
  font-weight: 700;
  align-self: flex-start;
  height: 2rem;
}

.loginBox .idBox input {
  height: 2rem;
  border: none;
  padding: 0.2rem;
}

.loginBox .pwdBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
}

.loginBox .pwdBox input {
  height: 2rem;
  border: none;
  padding: 0.2rem;
}

.loginBox .pwdBox span {
  align-self: flex-start;
  color: lightgray;
  font-size: 1.1rem;
  font-weight: 700;
  height: 2rem;
}

.loginBox button {
  margin-top: 1rem;
  font-size: 1rem;
  padding: 0.5rem;
  border-radius: 8px;
  border: none;
  background: blue;
  color: #fff;
  text-transform: capitalize;
  cursor: pointer;
}

.loginBox button:hover {
  background: red;
}

.loginBox button:active {
  transform: scale(0.9);
}
