.wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0.3rem 3rem;
  position: fixed;
  top: 0;
  background: white;
}

.logo {
  transform: scale(1.1);
}

.wrapper ul {
  display: flex;
  flex-direction: row;
}

.wrapper ul a {
  margin: 0 2rem;
  font-size: 1.6rem;
}

.loginSignup a {
  margin: 0 1rem;
  font-size: 1.2rem;
}
