.wrapper {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 2rem;
  cursor: pointer;
  user-select: none;
}

.wrapper img {
  width: 100%;
  border-radius: 1rem;
}

.wrapper .content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.wrapper .content header {
  font-size: larger;
  font-weight: 700;
  margin-top: 0.6rem;
}

.wrapper .content span {
  color: #777;
  margin: 0.4rem 0;
}

.wrapper .content div {
  display: -webkit-box;
  overflow: hidden;
  line-height: 1.2;
  max-height: 2.4rem;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
}

.wrapper .content div {
  align-self: flex-start;
}

.wrapper .content div img,
.wrapper .content div br,
.wrapper .content div strong,
.wrapper .content div h1,
.wrapper .content div h2,
.wrapper .content div h3,
.wrapper .content div pre {
  display: none;
}

.wrapper .content div p {
  width: 25vw;
}
