body {
  margin: 0;
  padding: 0;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  transition: all 0.2s linear;
}

.link {
  text-decoration: none;
  list-style-type: none;
  color: inherit;
}
