.bannerBox {
  img {
    height: 60vh;
    object-fit: comparable(1, 2);
  }
}

@media screen and (max-width: 1200px) {
  /* 1025px - 1200px - Desktops, large screens */
  .bannerBox {
    display: block;

    img {
      height: auto !important;
      object-fit: comparable(1, 2);
    }
  }
}
