.bannerBox {
  padding: 1rem 0;

  .imgBox {
    position: relative;
    height: 420px;
  }
}

@media screen and (max-width: 1024px) {
  /* 1025px - 1200px - Desktops, large screens */
  .bannerBox {
    display: none;
  }
}
