.bannerBox {
  width: 100%;

  img {
    width: 100%;
    height: 65vh;
    object-fit: comparable(1, 2);
  }
}

@media screen and (max-width: 1200px) {
  /* 1025px - 1200px - Desktops, large screens */
  .bannerBox {
    img {
      height: unset;
      object-fit: comparable(1, 2);
    }
  }
}
